@use "_colors" as color;
@use "_colors2" as color2;


%basic{
    color: color.$color1;
    font-size: color.$large;
    border: 1px solid black;
}


.sample-test-container {
  margin: 0;
  padding: 0;
  background-color: color.$color4;
  width: 100vw;
  height: 100vh;
  h1{
    @extend %basic;
    border-radius: 10px;
  }
  p{
    @extend %basic;
  }
  button{
    @extend %basic;
  }
}
.inside-test{
    height: 2rem;
    background-color: color.$color1;
    color: color.$color2;
    @extend %basic;
}